.App {
  max-width: 90vmin;
  align-content: center;
  padding: auto;
  margin: auto;
}
.app-main-container {
  border: 1.5px;
  border-style: none solid none solid;
  background-color: #e2e2e2;
  width: 94vmin;
  position: relative;
  box-shadow: var(--shadow);

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
img {
  width: 8%;
  background-color: #001F3C;
  margin-left: -70px;
  display: none;
}

.app-title {
 
  display: flex;
  justify-content: center;
  background-color:  #2C3632;
  width: 94.2vmin;
  
}
:root {
  --main-text-color: #141c3a;
  --blue: #3069f0;
  --red: #fd4d3f;
  --gray: rgba(20, 28, 58, 0.5);
  --shadow: 0 0 21px 0 rgba(255, 255, 255, 0.986);
  --white: #ffffff;
  background-color: #292929;
 
}
.appName {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 20px 0 15px 0;
  font-size: calc(10px + 3vmin);
  color: white;
}
h3 {
  font-family: 'Alegreya Sans', sans-serif;
  color: #202724;
}
h4 {
  font-family: 'Alegreya Sans', sans-serif;
  color: #202724;
}
h4.positive {
  margin: 0;
}
h4.negative {
  margin: 0;
}

.positive {
  color: #3c8169;
}
.negative {
  color: #d13b15;
}
.balance-value {
  margin: 10px 0 15px 0;
  font-size: calc(10px + 4vmin);
}
.balance {
  display: block;
  justify-content: center;
  text-align: center;
  border: 1px solid  #141c3a;
  background-color: #A29A98;
  width: 94vmin;
  box-shadow: 0 0 21px 0 rgba(26, 25, 25, 0.986);
  
}
.your-balance {
  margin: 10px 0 10px 0;

}
.budget-container {
  list-style: none;
  padding: 16px 10px 24px 20px;
  width: 88vmin;
  margin-left: 20px;
  border-bottom: outset  1px #0B3759;
}
.category-label {
  font-size: 0.8rem;
  color: white;
}

.category-value {
  text-transform: capitalize;
  padding-right: 1rem;
  margin-top: 1.7vmin;
  margin-bottom: 1.9vmin;
  color: #2C3632;
 
}

.category-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 85vmin;

}
.budget-form {
  display: flex;
  margin-top: 0vmin;
  justify-self: space-between;
 
}

.amount-input {
  width: 18vmin;
  padding: 4px 8px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  font-size: 14px;
  margin-right: 1vmin;

}
.update-button {
  
  border-radius: 6px;
  border: 1px solid  #141c3a;
  width: 11vmin;
  padding: 4px 8px;
}
.update-button:hover,
.update-button:focus {
  background-color: #202724;
  color: #ffffff;
  
}

.comments-container {
  width: 85vmin;
  padding: 0;
}

.adding-button {

  font-size: 0.7rem;
  border-radius: 5px;
  border: 1px solid  gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addButton {
  font-size: calc(3px + 2vmin) ;
  border-radius: 6px;
  border: 1px solid  #141c3a;
  width: 25vmin;
  padding: 4px 4px;
  margin: 10px 0 0px 0;
}

.funds-title {
  font-size: 1.1rem;
  margin: 1.5vmin 0 1vmin 0;
}

/* --------------------------Income-Expence-------------------- */
.money-minus, .money-plus {
  color: #2C3632;
}

.balance-income-expense {
  width: 94vmin;
}

.income-transaction-container {
  position: relative;
  top: 19.5vmin;
}

.container {
  position: fixed;
  width: 94vmin;
  z-index: 1;
  
}

.income-exp-container {
  width: 94vmin;
  display: flex;
  justify-content: space-around;
  
}
.input-form {
  display: flex;
  justify-content: center;
  padding: 0 0px 20px 0px;
}
.income {
  width: 10vmin;
  padding: 5px 6px;
  border-radius: 6px;
  font-size: 14px;
  margin-right: 1vmin;

}
.income-button {
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid  #141c3a;
  width: 20vmin;
  padding: 5px 0px;
  font-family: 'Alegreya Sans', sans-serif;
}

.income-button:hover,
.income-button:focus {
  background-color: #202724;
  color: #ffffff;  
}

 .expense-borders, .income-borders {
  width: 47vmin;
  text-align: center;
} 
.income-borders {
  background-color: #7da396;
  text-align: center;
}
.expense-borders {
  background-color: #d1a33f8c;
}
/* ---------------------Transactions---------------------- */

.transaction-label {
  font-size: 0.8rem;
  color: white;
  margin-top: 0;
  font-weight: 450;
}
.form-wrapper {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 2vmin;
}

div.new-transaction {
  
  width: 94vmin;
  background-color: #2C3632;
  padding-bottom: 2.5vmin;
  box-shadow: 0 0 21px 0 rgba(26, 25, 25, 0.986);
  position: fixed;
  bottom: 0vmin;

}
ul.new-transaction {
  position: relative;
  background-color: rgb(149, 171, 229);
  
}
li .new-transaction {
  display: flex;
  justify-content: space-between;
 
}
.new-transaction-list {
  
  list-style: none;
  text-align: left;
  padding: 0px 0 0px 0px;
  margin: 5px 0 15px 0px;
  font-size: calc(4px + 2vmin);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3a3d3ca4;
  color:white;
  width:88vmin;
 
}


label {
 font-size: calc(4px + 1.5vmin);
 padding-left: 3px;
 color: whitesmoke;
 text-align: center;
}
.removeButton {
  font-size: 10px;
  border-radius: 50%;
  border: 1px solid  #141c3a;
  margin: 8px 5px;
}
.removeButton:hover,
.removeButton:focus {
  background-color: #2C3632 ;
  color: #ffffff;  
}

.transaction-form {
  text-align: center; 
}
.newTransaction {
  text-align: center; 
  color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 16px 0 5px 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: calc(10px + 2.5vmin);
}
.input-transaction {
  text-transform: capitalize;
  width: 25vmin;
  padding: 5px 6px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  font-size: 14px;
 
}


.addButton{
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #2C3632;
  border-radius: 6px;
  border: 1px solid  #ffffff;
  color: #ffffff;
}
.addButton:hover,
.addButton:focus {
  background-color: #ffffff;
  color: #2C3632;  
}
.input-section {
  text-align: center;
}
span .description {
  font-size: calc(4px + 1.7vmin); 
  text-transform: capitalize;
  font-family: 'Alegreya Sans', sans-serif;
}
canvas {
 
  margin-left: 35vmin;
  text-align: center;
  justify-content: center;
  width: 60vmin;
}
/* -------------------------------------------------------- */

.chartComponent {
  margin-bottom: 50vmin;
  text-align: center;
  justify-content: center;
  width:60vmin;
 
}

@media only screen and (max-width: 1000px) {
  .income-transaction-container {
    top: 22vmin;
  }
  .removeButton {
    margin: 4.5px 5px;
    
  }
}
@media only screen and (max-width: 830px) {
  .income-transaction-container {
    top: 23vmin;
    background-color:#e2e2e2 ;
    margin-right: -5px;
  } 
  .removeButton {
    margin: 4.5px 5px;
  }
}
@media only screen and (max-width: 700px) {
  .income-transaction-container {
    top: 27vmin;
    margin-right: -2px;
    margin-left: 0px;
  } 
  .removeButton {
    margin: 2px 5px;
  }
  .new-transaction-list {
    width:84vmin;
   
  }
  .budget-container {
    width: 100%;
    margin: 0 0 0 5px;
  }
  
}
@media only screen and (max-width: 570px) {
  .income-transaction-container {
    top: 29vmin;
    margin-right: -24px;
    justify-content: center;
    background-color:#e2e2e2 ;
  } 
  .transaction-form {
    margin-left: 10px;
    padding: 10px 0 10px 0;
  }
  
  .input-transaction {
   
    width: 22vmin;
    border-radius: 6px;
    font-size: 11px;
   
  }
  .removeButton {
    margin: 0.5px 5px;
  }
  .new-transaction-list {
    width:84vmin;
  }
  .budget-container {
   
    padding: 16px 10px 24px 20px;
    width: 100%;
    margin-left: 10px;
  }
  .income-exp-container {
    width: 100%;
  }
  .app-main-container {
    border-style: none;
    width: 100%;
  }
  
  .balance-income-expense {
    width: 100%;
  }
  div.new-transaction {
  
    width: 100%;
    margin-left: -10px;
  }
  .category-wrapper {
    width: 84vmin;
  }
  .form-wrapper {
    width: 96vmin;
  }
  .chartComponent {
    margin-bottom: 60vmin;
    background-color:#e2e2e2 ;
    width:60vmin;
   
  }
  .update-button {
    padding: 0;
  }
  .app-title {
    width: 95vmin;
    padding-right: 3px;
  }
  .balance {
    width: 95vmin;
  }
  .income-button {
    font-size: calc(6.5px + 1.5vmin);
    font-weight: 550;
    padding: 0;
    
  }
}

@media only screen and (max-width: 425px) {
  .income-transaction-container {
    top: 34vmin;
    margin-right: -20px;
    margin-left: -20px;
    justify-content: center;
    background-color:#e2e2e2 ;
  } 
  div.new-transaction {
  
    width: 102vmin;
  }
  .input-section {
    /* padding: 10px 0; */
    display: block;
    width: 25vmin;
  }
  .input-transaction {
   
    width: 22vmin;
    padding: 2px 3px;
   
  }
  .balance-income-expense {
    width: 99vmin;
    margin: 0;
  
  }
  .income-button {
    font-size: calc(6px + 1vmin);
    width: 70px;
    font-weight: 550;
    padding: 0;
  }
  .income {
    padding: 0;
  }
  .category-wrapper {
    width: 87vmin;
  }
  .money-minus, .money-plus {
    margin: 4px 0 10px 0;
  }
  h4 {
    margin-bottom: 10px;
  }

  .removeButton {
    padding: 2px 4px;
  }
  .update-button {
    padding: 0;
    width: 55px;
  }
  .new-transaction-list {
     width:85vmin;
  }
  .budget-container {
   
    padding: 16px 10px 24px 20px;
    margin-left: 3px;
    justify-content: space-evenly;
  }
  .income-exp-container {
    width: 100vmin;
    margin-left: -1px;
    /* justify-content: space-evenly; */
  }
  .income-borders, .expense-borders {
    width: 50vmin;
  }

  .app-title {
    width: 100vmin;
    margin-left: -20px;
    padding-right: 10px;
  }

  .balance {
     width: 103vmin;
    margin-left: -30px;
}

}
@media (prefers-reduced-motion: no-preference) {
  /* .income-transaction-container {
    
    top: 21vmin;
  } */
}
